validation/dtd/convertToXSD.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by ﻿champix (champix) -->
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!--Please add namespace attributes, a targetNamespace attribute and import elements according to your requirements-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/XML/1998/namespace"/>
	<xs:element name="tel">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="pnom">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="adresse">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="permis">
		<xs:complexType>
			<xs:attribute name="value" type="xs:anySimpleType" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="option">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="nom">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="mail">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="langues">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="langue" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="langue">
		<xs:complexType>
			<xs:attribute name="ecris" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="langName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="es"/>
						<xs:enumeration value="fr"/>
						<xs:enumeration value="al"/>
						<xs:enumeration value="en"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="lu" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="matern" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="parle" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="intitule">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="ident">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="nom"/>
					<xs:element ref="pnom" maxOccurs="3"/>
					<xs:choice>
						<xs:sequence>
							<xs:element ref="mail"/>
							<xs:element ref="tel"/>
						</xs:sequence>
						<xs:element ref="adresse"/>
					</xs:choice>
					<xs:element ref="permis"/>
					<xs:element ref="datenaiss"/>
					<xs:element ref="age"/>
					<xs:element ref="langues"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="idciv" type="xs:IDREFS" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="formations">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="formation" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="formation">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="intitule"/>
					<xs:element ref="diplomes"/>
				</xs:sequence>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="diplomes">
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:element ref="diplome" maxOccurs="unbounded"/>
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="diplome">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="intitule"/>
					<xs:element ref="option"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="note" type="xs:anySimpleType"/>
			<xs:attribute name="obtenu" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:NMTOKEN">
						<xs:enumeration value="false"/>
						<xs:enumeration value="true"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="datenaiss">
		<xs:complexType mixed="true"/>
	</xs:element>
	<xs:element name="cvs">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="civilites"/>
				<xs:element ref="cv" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="civilites">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="civilite" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="civilite">
		<xs:complexType mixed="true">
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cv">
		<xs:complexType>
			<xs:sequence>
				<xs:sequence>
					<xs:element ref="ident"/>
					<xs:element ref="formations"/>
				</xs:sequence>
			</xs:sequence>
			<xs:attribute name="id" type="xs:ID" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="age">
		<xs:complexType mixed="true"/>
	</xs:element>
</xs:schema>
