validation/dtd/cvgen.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--DTD generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<!ELEMENT tel (#PCDATA)>
<!ELEMENT pnom (#PCDATA)>
<!ELEMENT adresse (#PCDATA)>
<!ELEMENT permis EMPTY>
<!ATTLIST permis
	value CDATA #REQUIRED
>
<!ELEMENT option (#PCDATA)>
<!ELEMENT nom (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
<!ELEMENT langues ((langue+))>
<!ELEMENT langue EMPTY>
<!ATTLIST langue
	ecris  (true|false)   #REQUIRED
	langName (en|es|fr|al) #REQUIRED
	lu  (true|false)   #REQUIRED
	matern  (true|false)  #REQUIRED
	parle (true|false)  #REQUIRED
>
<!ELEMENT intitule (#PCDATA)>
<!ELEMENT ident ((nom, pnom,pnom?, pnom?, pnom?, ((mail, tel)|adresse), permis, datenaiss, age, langues))>
<!ATTLIST ident
	idciv IDREFS #REQUIRED
>
<!ELEMENT formations ((formation+))>
<!ELEMENT formation ((intitule, diplomes))>
<!ELEMENT diplomes ((diplome+))>
<!ELEMENT diplome ((intitule, option))>
<!ATTLIST diplome
	note CDATA #IMPLIED
	obtenu (true|false)  #REQUIRED
>
<!ELEMENT datenaiss (#PCDATA)>
<!ELEMENT cvs (civilites,cv+)>
<!ELEMENT civilites (civilite+)>
<!ELEMENT civilite (#PCDATA)>
<!ATTLIST civilite 
	id ID #REQUIRED
	>	
<!ELEMENT cv ((ident, formations))>
<!ATTLIST cv
	id ID #REQUIRED
>
<!ELEMENT age (#PCDATA)>
