validation/xsd/cv.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:element name="langue">
	<xs:complexType>
		<xs:attribute name="langName" >
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="en"/>
					<xs:enumeration value="es"/>
					<xs:enumeration value="fr"/>
					<xs:enumeration value="al"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="matern" type="xs:boolean"/>
		<xs:attribute name="lu" type="xs:boolean"/>
		<xs:attribute name="ecris" type="xs:boolean"/>
		<xs:attribute name="parle" type="xs:boolean"/>
	</xs:complexType>
</xs:element>
	<xs:element name="cv">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ident"/>
				<xs:element name="formations"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="cvs">
		<xs:annotation>
			<xs:documentation>Noeud principal du document xml</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="civilites">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="civilite" maxOccurs="unbounded">
								<!--a faire plus tard car complexeType mais contenu simple-->
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="cv" maxOccurs="unbounded"/>
			</xs:sequence>
			<!--<xs:attribute></xs:attribute>-->
		</xs:complexType>
	</xs:element>
</xs:schema>
