validation/xsd/cvGen.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2013 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T_permis">
		<xs:attribute ref="value" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_langues">
		<xs:sequence>
			<xs:element ref="langue" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_langue">
		<xs:attribute ref="parle" use="required"/>
		<xs:attribute ref="matern" use="required"/>
		<xs:attribute ref="lu" use="required"/>
		<xs:attribute ref="langName" use="required"/>
		<xs:attribute ref="ecris" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_ident">
		<xs:sequence>
			<xs:element ref="nom"/>
			<xs:element ref="pnom" maxOccurs="unbounded"/>
			<xs:choice>
				<xs:element ref="adresse"/>
				<xs:sequence>
					<xs:element ref="mail"/>
					<xs:element ref="tel"/>
				</xs:sequence>
			</xs:choice>
			<xs:element ref="permis"/>
			<xs:element ref="datenaiss"/>
			<xs:element ref="age"/>
			<xs:element ref="langues"/>
		</xs:sequence>
		<xs:attribute ref="idciv" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_formations">
		<xs:sequence>
			<xs:element ref="formation" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_formation">
		<xs:sequence>
			<xs:element ref="intitule"/>
			<xs:choice>
				<xs:element ref="competences"/>
				<xs:element ref="diplomes"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_diplomes">
		<xs:sequence>
			<xs:element ref="diplome" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_diplome">
		<xs:sequence>
			<xs:element ref="intitule"/>
			<xs:element ref="option" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute ref="obtenu"/>
		<xs:attribute ref="note" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_cvs">
		<xs:sequence>
			<xs:element ref="civilites"/>
			<xs:element ref="cv" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_cv">
		<xs:sequence>
			<xs:element ref="ident"/>
			<xs:element ref="formations"/>
		</xs:sequence>
		<xs:attribute ref="id" use="required"/>
	</xs:complexType>
	<xs:complexType name="T_competences">
		<xs:sequence>
			<xs:element ref="competence"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_civilites">
		<xs:sequence>
			<xs:element ref="civilite" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T_civilite">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute ref="id" use="required"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:attribute name="value" type="xs:string"/>
	<xs:attribute name="parle" type="xs:boolean"/>
	<xs:attribute name="obtenu" type="xs:boolean"/>
	<xs:attribute name="note" type="xs:decimal"/>
	<xs:attribute name="matern" type="xs:boolean"/>
	<xs:attribute name="lu" type="xs:boolean"/>
	<xs:attribute name="langName" type="xs:string"/>
	<xs:attribute name="idciv" type="xs:string"/>
	<xs:attribute name="id" type="xs:string"/>
	<xs:attribute name="ecris" type="xs:boolean"/>
	<xs:element name="tel" type="xs:string"/>
	<xs:element name="pnom" type="xs:string"/>
	<xs:element name="permis" type="T_permis"/>
	<xs:element name="option" type="xs:string"/>
	<xs:element name="nom" type="xs:string"/>
	<xs:element name="mail" type="xs:string"/>
	<xs:element name="langues" type="T_langues"/>
	<xs:element name="langue" type="T_langue"/>
	<xs:element name="intitule" type="xs:string"/>
	<xs:element name="ident" type="T_ident"/>
	<xs:element name="formations" type="T_formations"/>
	<xs:element name="formation" type="T_formation"/>
	<xs:element name="diplomes" type="T_diplomes"/>
	<xs:element name="diplome" type="T_diplome"/>
	<xs:element name="datenaiss" type="xs:date"/>
	<xs:element name="cvs" type="T_cvs"/>
	<xs:element name="cv" type="T_cv"/>
	<xs:element name="competences" type="T_competences"/>
	<xs:element name="competence" type="xs:string"/>
	<xs:element name="civilites" type="T_civilites"/>
	<xs:element name="civilite" type="T_civilite"/>
	<xs:element name="age" type="xs:byte"/>
	<xs:element name="adresse" type="xs:string"/>
</xs:schema>
